__pycache__/
dataset/
env/
vgg_lpips/
.vscode/
crossface_logs/
MultiModalCelebAHQ/
logs/
checkpoints/
crossface-e4-10000-768/
crossface-e4-10000-1024/
crossface-e6-30000-768/
crossface-e6-30000-1024/
crossface-768z-16b/
crossface-768z-16b-ch/